# output_dir
output*
instant_test_output
inference_test_output


*.png
*.diff
*.jpg
!/projects/DensePose/doc/images/*.jpg

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.ts
model_ts*.txt

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs
detectron2
# project dirs
/detectron2/model_zoo/configs
/datasets/*
!/datasets/*.*
!/datasets/metadata
!/datasets/clutter_sample
/projects/*/datasets
!GroundingDINO_with_Segment_Anything.ipynb
#/models
/snippet
key.txt